<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Bienvenido a nuestra tienda online!</h1>
    <p>Haga click en el botón de abajo para ver los productos disponibles.</p>
    <a href="/realtimeproducts">
        <button>Ver productos en tiempo real</button>
    </a>

    <h1>Lista de productos</h1>
    <ul>
      {{#each products}}
        <li>
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
          <p>{{this.price}}</p>
        </li>
      {{/each}}
    </ul>

    <h1>Chat</h1>
    <input id="username" type="text" placeholder="Ingrese su nombre">
    <input id="message" type="text" placeholder="Ingrese su mensaje">
    <button id="send">Enviar</button>

    <div id="messages">
        {{#each messages}}
            <p><strong>{{this.username}}: </strong>{{this.text}}</p>
        {{/each}}
    </div>

    <script>
        var socket = io();
        var usernameInput = document.getElementById('username');
        var messageInput = document.getElementById('message');
        var sendButton = document.getElementById('send');
        var messagesDiv = document.getElementById('messages');

        sendButton.onclick = function() {
            var text = messageInput.value;
            var username = usernameInput.value;
            socket.emit('message', { username: username, text: text });
            messageInput.value = '';
        };

        socket.on('Mensajes', function(messages) {
            messagesDiv.innerHTML = '';
            for (var message of messages) {
                var messageElement = document.createElement('p');
                messageElement.innerHTML = '<strong>' + message.username + ': </strong>' + message.text;
                messagesDiv.appendChild(messageElement);
            }
        });
    </script>
</body>
</html>
