<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <script src="/socket.io/socket.io.js"></script>
    <title>{{title}}</title>
</head>
<body>
{{> header}}
{{#if user}}
  <h1>Bienvenido, 
      {{#if user.username}}
          {{user.username}}
      {{else}}
          {{user.first_name}}
      {{/if}}!
  </h1>
  <a href="/logout">Cerrar sesión</a>
  <a href="/loggerTest">testlogs</a>
  <a href="/productEditor">Revisar productos</a><br>
  <button id="togglePremium">Cambiar a Premium/Normal</button> <!-- Agregamos este botón -->
  {{{body}}}
{{else}}
 {{{body}}}
 <a href="/auth/request-reset-password">¿Olvidaste tu contraseña?</a>
{{/if}}

<script>
  // Agregamos este script
  document.getElementById('togglePremium').addEventListener('click', function() {
      const userId = '{{user._id}}'; // Asume que el ID del usuario está en la sesión como user._id
      fetch(`/api/users/premium/${userId}`, {
          method: 'PUT'
      })
      .then(response => response.json())
      .then(data => {
          alert(data.message);  // Mostramos un mensaje con la respuesta del servidor
          location.reload();  // Recargamos la página para que los cambios tengan efecto
      })
      .catch(error => {
          console.error('Error:', error);
      });
  });
</script>
</body>
</html>
